<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Florian Eckerstorfer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Florian Eckerstorfer is an Austrian Computer Science student and Web Developer. This is his private website.">
	<meta name="author" content="Florian Eckerstorfer">

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="/css/master.css" rel="stylesheet">

	<link rel="profile" href="http://microformats.org/profile/hcard">

</head>
<body>

<div id="header" class="container">
	<div class="row">
		<header class="span8">
			<h1>Hello, I'm<br><a href="/" title="Homepage"><strong>Florian<br>Eckerstorfer</strong></a>.</h1>
		</header>
		<aside class="span4">
			<img src="/img/florian-eckerstorfer.jpg" alt="Photo of Florian Eckerstorfer" width="300" height="300" class="florian">
		</aside>
	</div>
</div>

{{ content }}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2622189-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
